@font-face {
  font-family: "CrimsonPro";
  src: url("../src/fonts/CrimsonPro-LightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url("../src/fonts/CrimsonPro-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonPro";
  src: url("../src/fonts/CrimsonPro-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url("../src/fonts/CrimsonPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona-sans";
  src: url("../src/fonts/Mona-Sans-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona-sans";
  src: url("../src/fonts/Mona-Sans-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona-sans";
  src: url("../src/fonts/Mona-Sans-SemiBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}



.header-item {
  font-family: 'ElMessiri', ElMessiri-Medium;

}


.item {
  font-family: 'Playfair Display', serif;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(218, 165, 32);
  /* Adjust the opacity (last value) to control darkness */
}


.bg-opacity-full {
  background-color: rgba(0, 0, 0, 1);
}

/* Full black background */